body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.controls {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

.button-preview {
    margin-top: 20px;
}

#customButton {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border: 2px solid #007bff;
}
