body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.image-container {
    margin: 20px auto;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #c6e1f3;
    border-radius: 10px;
}

img {
    display: block;
    width: 200px; /* Initial width */
    height: auto;
}

.controls {
    margin-top: 20px;
    display: inline-block;
}

button {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin: 0 5px;
    
}

button:hover {
    opacity: 0.8;
}
