body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.cat-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button.unlike {
    background-color: #dc3545;
    padding: 20px;
}

button:hover {
    opacity: 0.8;
}
#like-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
}